/* @import url('../main.min.css'); */

@import url('https://strawmelonjuice.com/gfonts.php/https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://strawmelonjuice.com/gfonts.php/https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://strawmelonjuice.com/gfonts.php/https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://strawmelonjuice.com/gfonts.php/https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');
@import url('https://strawmelonjuice.com/gfonts.php/https://fonts.googleapis.com/css2?family=Noto+Emoji&display=swap');

ul {
    list-style-type: square;
    text-align: left;
}

#framework-add-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    position: fixed;
    right: 18px;
    bottom: 18px;
    z-index: 9999;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.25s ease 0s;
    transform: scale(1);
}

@viewport {
    width: device-width;
    zoom: 1.1;
    min-zoom: 0.4;
    max-zoom: 2;
    user-zoom: fixed;
}

body {
    margin: 0;
    padding: 15px;
    font-family: 'Ubuntu', sans-serif;
    resize: both;
    overflow: auto;
    font-size: 14px;
    height: 100%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

h5 {
    text-align: center;
}

div.headinglogo {
    text-align: center;
    float: left;
    border-width: 0px 20px 20px 20px;
    padding: 10px;
    border-radius: 0px 0px 15px 15px;
}

img.headinglogo {
    max-width: 15%;
    max-width: 110px;
    text-align: center;
    align-content: center;
    align-self: center;
    position: sticky;
    display: inline-block;
}

.emoji-drawer-emojis {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.emoji-drawer {
    width: 60%;
    margin-bottom: 32px;
    transition: opacity 1.2s;
    border-radius: 3px;
    display: block;
    margin: 20px;
    position: fixed;
    z-index: 40;
}

.hidden {
    opacity: 0;
    display: none;
}

.emoji {
    text-align: center;
    font-size: 16px;
    padding: 3px;
}

.emoji,
.emojis {
    font-family: 'Noto Color Emoji', sans-serif;
}

.emoji:hover {
    cursor: pointer;
    font-size: 26px;
}

.timefonted {
    font-family: 'Orbitron',
        sans-serif;
    /* font-size: 10px; */
}

h5.emoji-drawer {
    width: 100%;
    text-align: center;
}

div.readback,
div.AddEntryForm {
    border: 10px solid;
    border-radius: 15px;
    margin-top: 70px;
    overflow-x: auto;
    overflow-y: auto;
    padding: 0px;
    width: 90vw;
    align-self: center;
    align-items: center;
    /* margin: 20px; */
}

#readbacktable {
    width: 100%;
}

div.readback {
    margin-top: 200px;
}

div.AddEntryForm {
    z-index: 120;
    position: absolute;
    align-self: center;
}

.HiddenAddEntryForm {
    display: none;
}

.AddEntryForm form {
    align-self: center;
    align-items: center;
}

.AddEntryForm input {
    display: table-column-group;
    align-self: center;
    align-items: center;
    /* margin: 2px; */
}

.AddEntryForm #feelemojibutton {
    display: table-column-group;
    align-self: center;
    align-items: center;
    size: 20px;
    /* margin: 2px; */
    width: 40px;
    text-size-adjust: auto;
    height: 40px;
}

.AddEntryForm input[type=submit] {
    width: 20%;
    /* margin: 2px; */
    display: inline-block;
    text-align: center;
    height: max-content;
    height: 40px;
    text-size-adjust: auto;
    size: 9px;
}

.textbox {
    border-radius: 3px;
    border: 7px solid;
    display: inline-flexbox;
    /* padding: 7px; 
}
.AddEntryForm .textbox { */
    width: 65%;
    height: 36px;
    border: 2.5px solid;
    padding: 0px;
    font-family: inherit;
    font-size: larger;
}

.AddEntryForm textarea.textbox {
    min-width: 65%;
}

.infofooter {
    bottom: 0%;
}

#theLoggerNav {
    overflow: hidden;
    top: 0px;
}

#theLoggerNav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}



p#LDDStreakNotif {
    text-align: center;
    border-width: 0px 20px 20px 20px;
    padding: 10px;
    border-radius: 0px 0px 15px 15px;
    margin-top: 0px;
}

#fixstocksamendansen {
    display: none;
}

div.focusmode-salutations-disabled button {
    text-align: center;
    border-width: 0px 20px 20px 20px;
    padding: 10px;
    border-radius: 15px;
}

#baebadoopiiepoopiee textarea {
    width: 99%;
    height: 70px;
}

form#focussetting {
    opacity: 40%;
}