@import url('../main.min.css');
@import url('https://strawmelonjuice.com/gfonts.php/https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');
/* Styles for the Taupe (default) stylesheet */
body {
        background-color: #674C47;
        color: #ace0a2;
}

div.AddEntryForm,
div.readback {
        background-color: #f7bd76;
        border-color: #d7ffff;
        color: #15440b;
}

#readbacktable {
        background-color: #fff8dc;
}

#readbacktable th {
        background-color: #8B8589;
        color: #360005;

}

#readbacktable tr:nth-child(even) {
        background-color: #967117;
        color: #080002;
}

#readbacktable tr:nth-child(odd) {
        background-color: #915F6D;
        color: #beffed;
}

.sidenav a:hover {
        color: #ff0000;
}

.sidenav a {
        color: #5f4f06;
}

.sidenav {
        background-color: #ffff73;
}

.entry-text {
        color: #5f9ea0;
}

select {
        background-color: #be7a1b;
        color: #232355;
}

button,
.button-like {
        background-image: linear-gradient(135deg, #e74d00 10%, #aa9404 100%);
        color: #04048c;
}

.textbox {
        border-color: #e74d00;
}

#visual-theme-selector-taupe {
        border-color: #d7ffff;
        filter: drop-shadow(0 0 0.75rem #add8e6);
        z-index: 2;
}

.bymarbanner {
        color: #40e0d0;
}

button#ViewNavButton {
        background-image: linear-gradient(135deg, #e74d00 10%, #3bd66f 100%);
        color: #04048c;
}

.emoji,
.emojis {
        font-family: 'Noto Color Emoji', sans-serif;
}

#usernamehighlighted {
        color: #c5d6d6;
}

code,
.invalid-feedback {
        color: #35040e;
}

code {
        background-color: #f1f1f1;
}
div.emoji-drawer-emojis div, h5.emojis, #focusmodealert {
        color: #080002;
}